<a href="https://colab.research.google.com/github/yejihamster/dataAnalysis/blob/main/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 파이썬 자료형과 연산

In [ ]:
a =10
b = '파이썬'
print( a, b )

10 파이썬

### # 오류

In [ ]:
a =10
b = '파이썬'
print( a, b )

### # 1. 파이썬 버전 출력

In [ ]:

!python -V

Python 3.10.12

In [ ]:
import sys
print("____",sys.version)
sys.version

____ 3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

'3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]'

In [ ]:
# 2. 파이선 설치 위치
import sys
print(sys.executable)

/usr/bin/python3

In [ ]:
# 물리적 폴더 위치
import os
os.getcwd()

'/content'

In [ ]:
#문제 1
(10 + 3) *4
#문제 2
15*130
#문제 3
num = int(input("정수를 입력하십시오."))

if (num % 2) == 0 :
    print("짝수입니다.")
else:
    print("홀수입니다.")
#문제 4
(2**3)*(5**4)*(3**4)

정수를 입력하십시오.31
홀수입니다.

405000

In [ ]:
# 파이썬 자료형 확인

print(type(123))
print(type(3.14))
print(type("123"))
print(type( [123] ) )
print(type((123,)))
print(type({'123':123}))
print(type({123}))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>

# # 문자열 데이터를 숫자(정수)로 변환하기
# a = input('키보드로 숫자를 입력해 주세요: ')
# print(type(a))

# a=int(a)
# print(type(a))

In [ ]:
#문자열 포맷팅
a = input('키보드로 입력해 주세요:')
print('변수 a의 값은', a,'입니다')
print('변수 a의 값은 %s 입니다.' %a)
print(f'변수 a의 값은 {a} 입니다.')

키보드로 입력해 주세요:12
변수 a의 값은 12 입니다
변수 a의 값은 12 입니다.
변수 a의 값은 12 입니다.

In [ ]:
a = int(input("첫번째 숫자를 입력하세요:"))
b = int(input("두번째 숫자를 입력하세요:"))
print(f'덧셈: {a}+{b} = {a+b:3}')
print(f'뺄셈: {a}-{b} = {a-b:3}')

첫번째 숫자를 입력하세요:1
두번째 숫자를 입력하세요:21
덧셈: 1+21 =  22
뺄셈: 1-21 = -20

In [ ]:
velocity = input('속력을 입력해 주세요(km/h):')
distance = input('거리를 입력해 주세요(km) : ')
print("-"*30)
print(f'속력 : {float(velocity)}km/h')
print(f'거리 : {float(distance)}km')
print(f'시간 : {float(distance}/float(velocity):.1f }h')

속력을 입력해 주세요(km/h):100
거리를 입력해 주세요(km) : 340
------------------------------
속력 : 100.0km/h
거리 : 340.0km

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
import math
r=4
print(f'원의 넓이: {round(math.pi * math.pow(r,2),4)}')
print(f'계산결과: {rount}')

원의 넓이: 50.2655

In [ ]:
a=input('정수를 입력하세요(1~9):')
b=a+a
c=a+a+a
a1=int(a)
b1=int(b)
c1=int(c)
print(f'{a1+b1+c1}')

정수를 입력하세요(1~9):7
861