<a href="https://colab.research.google.com/github/yejihamster/dataAnalysis/blob/main/5%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5. 반복문

## 5-1. for 반복문
유한개수의 반복문

### 다양한 반복문

In [3]:
# 1. range() 함수 이용 : 정수를 차례로 발생시키는 함수
#for 변수 in range(0,3,1):
for 변수 in range(3):
    print(변수)

0
1
2

In [13]:
# 2. 리스트 이용
a = list(range(10,0,-1))
a = list(range(1,11))
for i in a:
    print(i)

for i in a:
    print(i, end=',')

1
2
3
4
5
6
7
8
9
10
1,2,3,4,5,6,7,8,9,10,

In [ ]:
# 한 줄로 표혀하는 방법
for i in range(1,101):
    print(i, end=',')

In [14]:
# 3. 문자열 이용
for i in 'python':
    print(i)

p
y
t
h
o
n

In [15]:
# 4. 변수 사용안하고 반복만 할 때
for _ in range(3):
    print('좋은 아침')

좋은 아침
좋은 아침
좋은 아침

In [18]:
# 5. enumerate() : 리스트와 같은 순서가 있는 자료형의 인덱스를 함께 사용
fruits = ['사과','포도','딸기','키위']
for idx, fruit in enumerate(fruits):
    print(idx, fruit)

0 사과
1 포도
2 딸기
3 키위

In [26]:
# 6. 컬렉션 자료형 특징 이용
# _리스트
for a, b in [(1,2),(3,4),(5,6)]:
    print(a,b)
print('-'*30)

# _딕셔너리
dic = {1:'사과', 2:'포도'}
for key in dic:
    print(key, dic[key])
print('-'*30)

for key, value in dic.items():
    print(key, value)
# 집합
print('-'*30)
for v in {1,2,3,3,4,5,3}:
    print(v)

1 2
3 4
5 6
------------------------------
1 사과
2 포도
------------------------------
1 사과
2 포도
------------------------------
1
2
3
4
5

In [34]:
n = int(input('합계를 구할 숫자 입력: '))
hap = 0

for i in range(n):
    if n % 2 == 0:
        hap += i

print(f'1 ~ {n}까지 짝수를 제외한 합은: {hap}')

합계를 구할 숫자 입력: 100
1 ~ 100까지 짝수를 제외한 합은: 4950

In [36]:
n = int(input('합계를 구할 숫자 입력: '))
hap = 0

for i in range(1, n+1):
    if i % 2 != 0:
        hap = hap+i

print(f'1 ~ {n}까지 짝수를 제외한 합은: {hap}')

합계를 구할 숫자 입력: 100
1 ~ 100까지 짝수를 제외한 합은: 2500

In [37]:
n = int(input('합계를 구할 숫자 입력: '))
hap = 0

for i in range(1, n+1, 2):
        hap = hap + i

print(f'1 ~ {n}까지 짝수를 제외한 합은: {hap}')

합계를 구할 숫자 입력: 100
1 ~ 100까지 짝수를 제외한 합은: 2500

In [41]:
n = int(input('합계를 구할 숫자 입력: '))
hap = sum([ i for i in range(1, n+1, 2)])

print(f'1 ~ {n}까지 짝수를 제외한 합은: {hap}')

합계를 구할 숫자 입력: 100
1 ~ 100까지 짝수를 제외한 합은: 2500

### [실습문제] 정오각형 그리기
- turtle 모듈은 코랩에서 사용할 수 없음.
- PC에서 사용하기

In [ ]:
import turtle

t = turtle.Pen()

t.forward(100)
t.right(72)

turtle.exitonclick()

### [실습문제] 1 ~ 100 숫자를 1줄로 출력하기

In [46]:
for i in range(1,101):
    print(i, end=" " )

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [49]:
print(' '.join([str(i) for i in range(1,101)]))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [52]:
scores = [90, 25, 67, 45, 80]
n = 1
for i in scores:
    if i > 60:
        r = '합격'
        print(f"{n}번 학생 {i}점은 {r}입니다.")
        n += 1
    else:
        r = '불합격'
        print(f"{n}번 학생 {i}점은 {r}입니다.")
        n += 1

1번 학생 90점은 합격입니다.
2번 학생 25점은 불합격입니다.
3번 학생 67점은 합격입니다.
4번 학생 45점은 불합격입니다.
5번 학생 80점은 합격입니다.

### [실습문제] 리스트 읽어서 조건문으로 학생 성적 판별하기

In [60]:
import random

# 방법 1 : 직접 지정
#scores = [90, 25, 67, 45, 80]

# 방법 2 : 빈 리스트 만들어서 임의의 숫자 리스트에 추가
# scores = []
# for _ in range(5):
#     scores.append(random.randint(1,101))

# 방법 3 : 방법2를 한 줄로 표현
scores = [ random.randint(1,101) for _ in range(5)]


for i, score in enumerate(scores):
   if score >= 60:
       print(f'{i+1}번 학생 {score}점 : 합격입니다.')
   else:
       print(f'{i+1}번 학생 {score}점 : 불합격입니다.')

    result = '합격' if score >=60 else '불합격'
print(f'{i+1}번 학생 {score}점 : {result}입니다.')

5번 학생 64점 : 합격입니다.

In [67]:
# a_list = list(input('괄호 : '))
# print(a_list)

# result = 0
# for i in a_list:
#     if i == "(":
#         result += 1
#     else:
#         r
#         if i == -1:
#             result += -1
#         else:
#     else:


# print()



p_list = list(input('판별할 괄호는: '))
print(p_list)

t = 0
for p in p_list:
    if p == '(':
        t += 1
    elif p == ')':
        t -= 1
    if t < 0:
        break
if t == 0:
    print('결과: True')
else:
    print('결과: False')

판별할 괄호는: ))(()
[')', ')', '(', '(', ')']
결과: False

## 중첩 for 반복문: 반복문 안에 반복문

In [70]:
for i in range(3):
    print(f"{i}-------")
    for j in range(3):
        print(f"i:{i},J:{j}")

0-------
i:0,J:0
i:0,J:1
i:0,J:2
1-------
i:1,J:0
i:1,J:1
i:1,J:2
2-------
i:2,J:0
i:2,J:1
i:2,J:2

In [72]:
p_lists = [')))()()(((','()()()()())','()(())()()','))(())((','()(()))(','((())())']

for p_list in p_lists:
    print(f"괄호: {p_list}")
    t = 0
    for p in p_list:
        if p == '(':
            t += 1
        elif p == ')':
            t -= 1
        if t < 0:
            break
    if t == 0:
        print('->결과: True')
    else:
        print('->결과: False')

괄호: )))()()(((
->결과: False
괄호: ()()()()())
->결과: False
괄호: ()(())()()
->결과: True
괄호: ))(())((
->결과: False
괄호: ()(()))(
->결과: False
괄호: ((())())
->결과: True

## 5-2. while 반복문

## while 반복문 기본형식

In [74]:
a = 0
while a < 5:  #조건이 참일 동안 반복
    print(f"{a}는 5보다 작군요")
    a += 1
print(f"{a}는 5와 같군요")

0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5와 같군요

In [75]:
a = 0
while True:
    if a >=5:
        break
    print(f"{a}는 5보다 작군요")
    a += 1
print(f"{a}는 5와 같군요")

0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5와 같군요

In [77]:
###

treeHIT = 1

while True:
    if treeHIT> 10:
        break
    print(f"나무를 {treeHIT}번 찍었습니다.")
    treeHIT += 1
print(f"나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [78]:
treeHIT = 0
while treeHIT < 10:
    treeHIT += 1
    print(f"나무를 {treeHIT}번 찍었습니다.")
print("나무 넘어갔습니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갔습니다.